@charset "UTF-8";
.error_msg {
	color: red;
	font-size: 15px;
}

#add_user_form form{
	width:600px;
	margin: 0 auto;
	text-align:center;
}
#add_user_form form div {
	width:100%;
}

#add_user_form h3{
	text-align:center;
}